/** Generic **/
* {
    box-sizing: border-box;
}

h3, h4, div, p, a, img, i, ul, li, hr, fieldset, input, label {
    margin: 0;
    padding: 0;
}

html, body {
    font-weight: 400;
    background: #fff none;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    font-family: 'PT Sans', Verdana;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.view, .page-container {
    height: 100%;
}

.absolute {
    position: absolute;
}

a:hover, a:focus,
input:focus, select:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/** Map **/

#map, #map-canvas {
    height: 100%;
}

/** Task Card **/

.taskCard {
    position: absolute;
    bottom: 24px;
    width: 730px;
    left: 50%;
    margin-left: -365px;
    height: 210px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #e1e3e6;
    padding: 30px;
}

.navigation {
    position: absolute;
    height: 64px;
    top: 50%;
    margin-top: -32px;
    left: -32px;
    right: -32px;
}

.navigation .arrow.left {
    float: left;
    background: url('../static/imgs/checkbox-arrow-left@2x.png') no-repeat 48% center/auto 60% #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #e1e3e6;
    cursor: pointer;
}

.navigation .arrow.right {
    float: right;
    background: url('../static/imgs/checkbox-arrow-right@2x.png') no-repeat 48% center/auto 60% #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #e1e3e6;
    cursor: pointer;
}